.heading{
    justify-content: center;
    background-color: black;
    text-align: center;
    color:white;
    height: 80px;
    width: 200px;
}
.up{
    display:flex;
    justify-content: space-evenly;
    padding-top: 1%;


}
.top-pics{
    border-color:black;
    padding-left: 1%;

}
.mission-vission{
    padding:1%;
    border-radius:10px;
    justify-content:space-evenly;
}
.ms{
    color:blue;
    padding:1%;
}
.hs{
    color:blue;
    padding:0.5%;
}
.ss{
    padding-left: 1%;
}
.facebook:hover{
    color:blue;
    padding:20px;
    
}
.icons{
    display:flex;
    padding-left:42%;
}
.instagram:hover{
    padding:20px;
    color:red;
}
.facebook{
    padding:20px;
    text-decoration:none;
}
.instagram{
    padding:20px;
    text-decoration:none;
}
.whatsapp:hover{
    padding:20px;
    color:green;
}
.whatsapp{
    padding:20px;
    text-decoration:none;
}